{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div style='border: 1px solid grey; border-radius: 10px;box-shadow: 1px 2px 3px 2px rgb(185, 204, 188)' class="login-section col-lg-5 p-4">
                <h1 class='text-center'>Log In</h1>
                <form action="" method='post'>
                    {% csrf_token %}
                    {{form|crispy}}
                    
                    <div class="text-center">
                        <button style='width:250px; border-radius: 20px; margin-left: 90px' class="btn btn btn-block btn-outline-primary" type='submit'>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
